@model MVCCRUD.Models.Employee

@{
    ViewBag.Title = "Employee Details";
}

<h2>@Model.FirstName @Model.LastName</h2>
<p>@Model.Gender </p>
<p><b>Salery :- </b> @Model.Salery</p>

@Html.ActionLink("Back to List", "Index");

